<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import { loc } from "module/utils";
  import { stores } from "module/store/SettingsStore";
  import { ModuleSetting } from "module/store/ModuleSettings";
  import type { SearchResultItem } from "./SearchControllers";

  const dispatch = createEventDispatcher();

  let {
    results = [],
    selectedIndex = 0,
  }: { results: SearchResultItem[]; selectedIndex: number } = $props();

  let density = $derived(stores[ModuleSetting.SEARCH_DENSITY]);

  let resultList: HTMLElement;

  $effect(() => {
    resultList?.children[selectedIndex]?.scrollIntoView({ block: "nearest" });
  });

  function selected(item: unknown) {
    dispatch("callAction", { item });
  }
</script>

<ul class="quick-insert-result density-{$density}" bind:this={resultList}>
  {#each results as item, i (item.item.id)}
    <li class:search-selected={i === selectedIndex} class="no-icon-result">
      <a on:click={() => selected(item.item)}>
        <span>{item.item.commandText} {item.item.args || ""}</span>
        {#if item.item.description}
          <span>{loc(item.item.description)}</span>
        {/if}
      </a>
    </li>
  {/each}
</ul>

<style>
  a {
    padding: 4px;
  }
</style>
