<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { ModuleSetting } from "module/store/ModuleSettings";
  import type { SearchItem } from "module/searchLib";
  import { stores } from "module/store/SettingsStore";
  import type { SearchResultItem } from "./SearchControllers";

  const dispatch = createEventDispatcher();

  let {
    tooltips = "LEFT",
    embedded = false,
    results = [],
    selectedIndex,
    selectedAction,
  }: {
    tooltips?: "LEFT" | "RIGHT" | "OFF";
    embedded?: boolean;
    results: SearchResultItem[];
    selectedIndex: number;
    selectedAction?: string;
  } = $props();

  let density = stores[ModuleSetting.SEARCH_DENSITY];
  let tooltipModeSetting = stores[ModuleSetting.SEARCH_TOOLTIPS];
  let enhancedTooltips = stores[ModuleSetting.ENHANCED_TOOLTIPS];

  let tooltipMode = $tooltipModeSetting;

  let resultList: HTMLElement;

  $effect(() => {
    if (embedded) {
      return;
    }

    if (resultList?.children[selectedIndex]) {
      const selected = resultList.children[selectedIndex] as HTMLElement;
      selected.scrollIntoView({ block: "nearest" });
      if (tooltipMode !== "off" && selected.dataset?.tooltip && !embedded) {
        game.tooltip.activate(selected);
      } else {
        game.tooltip.deactivate();
      }
    } else {
      if (tooltipMode !== "off") {
        game.tooltip.deactivate();
      }
    }
  });

  function callAction(
    actionId: string | undefined,
    item: SearchItem,
    shiftKey: boolean
  ) {
    dispatch("callAction", { actionId, item, shiftKey });
  }

  function getTooltip(
    item: SearchItem,
    side: "RIGHT" | "LEFT" | "OFF",
    tooltipMode: string
  ): string {
    if (tooltipMode === "off" || side === "OFF") return "";

    const showImage = tooltipMode === "full" || tooltipMode === "image";
    const img =
      showImage && item.img
        ? `<img src="${item.img}" style="max-width: 80px; margin: 0 auto 0.5rem auto; border-radius: 10px;"/>`
        : "";

    const text =
      tooltipMode !== "image"
        ? `<p style='margin:0;text-align:center; max-width: 260px;'>${item.name}</p>
           <p style='text-align: center;font-size: 90%; opacity:0.8;margin:0; max-width: 260px;'>${item.icon} ${item.tooltip}</p>`
        : "";

    return img + text;
  }
</script>

<ul
  class="quick-insert-result density-{$density}"
  tabindex="-1"
  bind:this={resultList}
  data-tooltip-direction={tooltips}
  role="listbox"
  aria-activedescendant={`result_${results[selectedIndex]?.item.uuid}`}
>
  {#each results as { item, formattedMatch, actions, defaultAction }, index (item.uuid)}
    <li
      class:search-selected={index === selectedIndex}
      role="option"
      aria-selected={index === selectedIndex}
      data-tooltip={getTooltip(item, tooltips, $tooltipModeSetting)}
      class={$enhancedTooltips && item.__source === "quick-insert"
        ? "content-link"
        : undefined}
      data-uuid={item.uuid}
      id={`result_${item.uuid}`}
    >
      <a
        draggable="true"
        title={tooltipMode === "off" || tooltipMode === "image"
          ? `${item.name} - ${item.tooltip}`
          : undefined}
        on:dragstart={(event) =>
          event.dataTransfer?.setData(
            "text/plain",
            JSON.stringify(item.dragData)
          )}
        on:click|stopPropagation={(e) =>
          callAction(defaultAction, item, e.shiftKey)}
      >
        {#if item.img}
          <img src={item.img} draggable="false" />
        {:else}
          {@html item.icon}
        {/if}
        {#if $density === "spacious"}
          <div class="two-line-item">
            <span class="title">
              {@html formattedMatch || item.name}
            </span>
            <span class="sub">{item.tooltip}</span>
          </div>
        {:else}
          <span class="title">
            {@html formattedMatch || item.name}
          </span>
          <span class="sub">{item.tagline}</span>
        {/if}
        <span class="action-icons">
          {#each actions || [] as action}
            <i
              class="{action.icon} action-icon"
              class:selected={index === selectedIndex &&
                (selectedAction
                  ? action.id === selectedAction
                  : action.id == defaultAction)}
              data-tooltip={action.title}
              data-tooltip-direction="UP"
              data-action-id={action.id}
              on:click|stopPropagation={(e) =>
                callAction(action.id, item, e.shiftKey)}
            ></i>
          {/each}
        </span>
      </a>
    </li>
  {/each}
</ul>
