<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import { loc } from "module/utils";
  import { stores } from "module/store/SettingsStore";
  import { ModuleSetting } from "module/store/ModuleSettings";
  import type { SearchResultItem } from "./SearchControllers";

  const dispatch = createEventDispatcher();

  let {
    results = [],
    selectedIndex = 0,
    selectedAction,
  }: {
    results: SearchResultItem[];
    selectedIndex: number;
    selectedAction?: string;
  } = $props();

  let density = $derived(stores[ModuleSetting.SEARCH_DENSITY]);

  let resultList: HTMLElement;

  $effect(() => {
    resultList?.children[selectedIndex]?.scrollIntoView({ block: "nearest" });
  });

  function callAction(
    actionId: string | undefined,
    item: unknown,
    shiftKey: boolean
  ) {
    dispatch("callAction", { actionId, item, shiftKey });
  }
</script>

<ul class="quick-insert-result density-{$density}" bind:this={resultList}>
  {#each results as { item, formattedMatch, actions, defaultAction }, index (item.instance._id)}
    <li class:search-selected={index === selectedIndex} class="no-icon-result">
      <a
        onclick={(e) => callAction(undefined, item, e.shiftKey)}
        draggable="true"
        ondragstart={(event) =>
          event.dataTransfer?.setData(
            "text/plain",
            JSON.stringify({
              type: "Playlist",
              uuid: item.instance.uuid,
            })
          )}
      >
        <i class="fa-solid fa-music entity-icon"></i>
        {#if $density === "spacious"}
          <div class="two-line-item">
            <span class="title">
              {@html formattedMatch || item.instance.name}
            </span>
            <span class="sub"
              >{#if item.instance.playing}
                <i class="fa-solid fa-play"></i>
                {item.track}
              {/if}</span
            >
          </div>
        {:else}
          <span class="title">
            {@html formattedMatch || item.instance.name}
          </span>
          <span class="sub"
            >{#if item.instance.playing}
              <i class="fa-solid fa-play"></i>
              {item.track}
            {/if}</span
          >
        {/if}
        <span class="action-icons">
          {#each actions || [] as action}
            <i
              class="{action.icon} action-icon"
              class:selected={index === selectedIndex &&
                (actions?.some((a) => a.id === selectedAction)
                  ? action.id === selectedAction
                  : action.id == defaultAction)}
              data-tooltip={action.title}
              data-tooltip-direction="UP"
              data-action-id={action.id}
              onclick={(e) => callAction(action.id, item, e.shiftKey)}
            ></i>
          {/each}
        </span>
      </a>
    </li>
  {/each}
</ul>

<style>
  a {
    padding: 4px;
  }
</style>
