<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import { stores } from "module/store/SettingsStore";
  import { ModuleSetting } from "module/store/ModuleSettings";
  import type { SearchResultItem } from "./SearchControllers";

  const dispatch = createEventDispatcher();

  let {
    results = [],
    selectedIndex = 0,
  }: { results: SearchResultItem[]; selectedIndex: number } = $props();

  let density = $derived(stores[ModuleSetting.SEARCH_DENSITY]);

  let resultList: HTMLElement;

  $effect(() => {
    resultList?.children[selectedIndex]?.scrollIntoView({ block: "nearest" });
  });

  function selected(item: number, shiftKey: boolean) {
    dispatch("callAction", { item, shiftKey });
  }
</script>

<ul class="quick-insert-result density-{$density}" bind:this={resultList}>
  {#each results as result, i}
    <li class:search-selected={i === selectedIndex} class="no-icon-result">
      <a on:click={(e) => selected(result.item, e.shiftKey)}>
        <i
          class="fas {result.item.history
            ? 'fa-clock-rotate-left'
            : 'fa-calculator'} entity-icon"
        ></i>
        {#if $density === "compact"}
          <span class="one-line-item">
            {#if result.item.input !== result.item.result?.toString()}
              {result.item.input}{#if result.item.result}&nbsp;=&nbsp;{/if}
            {/if}
            {#if result.item.result}
              <span class="result">{result.item.result ?? ""}</span>
            {/if}
          </span>
        {:else}
          <div class="two-line-item">
            {#if result.item.input !== result.item.result?.toString()}
              <span>{result.item.input}</span>
            {/if}
            <span class="result">{result.item.result ?? ""}</span>
          </div>
        {/if}
      </a>
    </li>
  {/each}
</ul>

<style>
  .one-line-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .density-comfortable .result,
  .density-spacious .result {
    font-size: 120%;
  }
  .result {
    font-weight: bold;
    padding: 0 !important;
  }
  li a {
    height: auto !important;
  }
</style>
