<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import { mloc } from "module/utils";
  import { stores } from "module/store/SettingsStore";
  import { ModuleSetting } from "module/store/ModuleSettings";
  import type { SearchResultItem } from "./SearchControllers";

  const dispatch = createEventDispatcher();

  let {
    results = [],
    selectedIndex = 0,
  }: { results: SearchResultItem[]; selectedIndex: number } = $props();

  let density = $derived(stores[ModuleSetting.SEARCH_DENSITY]);

  let resultList: HTMLElement;

  $effect(() => {
    resultList?.children[selectedIndex]?.scrollIntoView({ block: "nearest" });
  });

  function selected(item: number) {
    dispatch("callAction", { item });
  }
</script>

<ul class="quick-insert-result density-{$density}" bind:this={resultList}>
  {#each results as item, i (item.item.id)}
    <li class:search-selected={i === selectedIndex} class="no-icon-result">
      <a on:click={() => selected(item.item)}>
        <span class="title">{item.item.name}</span>
        <span class="sub">{mloc(item.item.description)}</span>
      </a>
    </li>
  {/each}
</ul>

<style>
  .title {
    min-width: auto;
  }
</style>
