<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import { stores } from "module/store/SettingsStore";
  import { ModuleSetting } from "module/store/ModuleSettings";
  import type { SearchResultItem } from "./SearchControllers";

  const dispatch = createEventDispatcher();

  let {
    results = [],
    selectedIndex = 0,
  }: { results: SearchResultItem[]; selectedIndex: number } = $props();

  let density = $derived(stores[ModuleSetting.SEARCH_DENSITY]);

  let resultList: HTMLElement;

  $effect(() => {
    resultList?.children[selectedIndex]?.scrollIntoView({ block: "nearest" });
  });

  function selected(item: number, shiftKey: boolean) {
    dispatch("callAction", { item, shiftKey });
  }
</script>

<ul class="quick-insert-result density-{$density}" bind:this={resultList}>
  {#each results as result, i (result.item.id)}
    <li
      class:search-selected={i === selectedIndex}
      class="no-icon-result"
      title={result.item.name}
    >
      <a on:click={(e) => selected(result.item, e.shiftKey)}>
        <span>{result.item.name}</span>
        <span class="secondary">
          {#if $density === "spacious" && result.item.description}
            <span class="sub">{result.item.description}</span>
          {/if}
          {#each result.item.keybinds as bind}
            <kbd class="key editable-binding">{bind}</kbd>
          {/each}
        </span>
      </a>
    </li>
  {/each}
</ul>

<style>
  .density-spacious a {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .secondary {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-shrink: 0;
    gap: 0.4em;
  }
  kbd {
    /* width: fit-content; */
    display: inline-flex;
    font-size: 90%;
    flex-grow: 0;
    flex: none;
    padding: 0 4px;
    min-width: 24px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid var(--color-border-light-2);
    border-radius: 5px;
    box-shadow: 1px 1px #444;
    justify-content: center;
    align-items: center;
  }
</style>
