<script lang="ts">
  import SearchResults from "app/search/SearchResults.svelte";

  import type { CombinedSearchResult } from "module/fakeSearchData";

  let {
    results,
    selectedIndex = results.length - 1,
  }: { results: CombinedSearchResult[]; selectedIndex?: number } = $props();
</script>

<div class="example-results">
  <SearchResults embedded {results} {selectedIndex} selectedAction="" />
  <span class="notes"><slot /></span>
</div>

<style>
  .example-results {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 275px;
    margin-top: 1em;
  }
  .example-results :global(.quick-insert-result) {
    border-radius: 4px;
    border: 1px solid #7a7971;
    width: 275px;
  }
  .example-results .notes {
    text-align: center;
  }
</style>
