<script lang="ts">
  let { title }: { title: string } = $props();
</script>

<fieldset>
  <legend>{title}</legend>
  <slot />
</fieldset>

<style>
  fieldset {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0 1em;
    flex-direction: row;
  }
  legend {
    color: var(--color-text-primary);
    text-shadow: none;
  }
</style>
